* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

body {
    background-color:#dc6e33;
}

.start_btn {
    top:100%;
    left:100px;
    transform: translate(42%, 0%);
}

.start_btn button {
    font-size: 30px;
    font-weight:200;
    color:#dc6e33;
    padding:5px 5px;
    outline: none;
    border:none;
    border-radius: 15px;
    background:#3D8550;
    cursor: pointer;
}

.title {
    padding-left: 150px;
    border-style: double;
}

.buttons {
    padding-left: 300px;
    padding-top: 30px;
}

.quiz {
    background:whitesmoke;

}

.restart {
    background: aquamarine;
}

.restart:hover {
    background: green;
}

.quiz:hover {
    background:red
}



